//Reset
@require _normalize
@import _reset
@import _media-queries

// Colors
$bgColor = #222
$titleColor = #fff1e7
$textColor = #e3e3e3
$navColor = #e8e8e8
$navbgColor = #5a5a5a
$labelColor = #646464
$mainColor = #ff6900
$accentColor = #ffbb00
$divider = #323232
$buttonText = #3a331f


// General Styles
body
  background-color: $bgColor
  color: $titleColor
  font-family: "Montserrat", sans-serif
  font-size: 1em
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased

a
  color: $labelColor

  &:hover
    color: $titleColor

.container
  display: flex
  justify-content: center
  align-items: center

  +mobile()
    flex-direction: column-reverse

.slogan-box
  background-color: $mainColor
  color: $titleColor
  height: 100vh
  width: 50%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  +mobile()
    width: 100%

  > .title
    font-weight: 500
    font-size: 1.648em //Fix for Firefox
    line-height: 1.6em
    text-align: center
    margin-top: 0.25em
    padding: 0 3.5em

    +mobile()
      padding: 0 1em
      margin-top: 2em
      margin-bottom: 0
      font-size: 1.4em

    +tablet()
      padding: 1em
      font-size: 1.4em

  > .img
    background: url("../img/ferris-wheel.png")
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    text-indent: -9999px
    width: 60%
    height: 60%

    +mobile()
      width: 85%
      height: 85%

    +tablet()
      width: 85%
      height: 85%

.form-box
  height: 100vh
  width: 50%
  padding: 3em
  display: flex
  flex-direction: column
  padding-top: 4.5em

  +mobile()
    width: 100%
    padding: 0 1em 1em 1em

  +tablet()
    padding 2em
    font-size: 80%

  +desktop()
    padding: 2em
    font-size: 90%

  +desktop-fullhd()
    padding: 9em
    font-size: 120%

  > .navigation
    position: absolute
    top: 1em
    right: 1em

    +mobile()
      position: relative
      margin: 0 auto
      padding-left: 5vh

    > .list
      display: inline
      list-style: none

      > .item
        display: inline-block
        width: 5em
        height: 2em
        text-align: center
        border: 2px solid $divider
        line-height: 1.6em
        background-color: $bgColor

        &:first-child
          border-top-left-radius: 2em
          border-bottom-left-radius: 2em
          position: relative
          left: 0.4em

        &:last-child
          border-top-right-radius: 2em
          border-bottom-right-radius: 2em

        > .nav-link
          display: inline
          text-align: center
          vertical-align: center
          text-decoration: none
          text-transform: uppercase
          font-weight: 700
          font-size: 0.65em
          color: $titleColor
          padding: 0
          margin: 0

      > .active
        background-color: $navbgColor

  > .form
    display: block

    > .fieldset
      padding: 1em

      +mobile()
        padding: 0.8em

      > .title
        font-weight: 500
        font-size: 1.6em
        line-height: 1.6em
        text-align: center
        margin-bottom: 1.5em

        +mobile()
          font-size: 1.4em
          margin-top: 1em
          margin-bottom: 1.25em

      > .label
        text-transform: uppercase
        color: $labelColor
        font-size: 0.7em
        line-height: 0.7em
        font-weight: 700

        +mobile()
          font-size: 0.65em

      > .input
        width: 100%
        background-color: $bgColor
        color: $titleColor
        font-family: inherit
        font-weight: 500
        text-transform: lowercase
        border: none
        border-bottom: 1px solid $divider
        padding: 0.5em
        margin-bottom: 1.5em

        +mobile()
          margin-bottom: 1.25em

        +desktop-fullhd()
          margin-bottom: 3em

        &::placeholder
          font-size: 0.8em
          color: $titleColor

        &:focus
          border-bottom: 2px solid $mainColor
          outline: 0

      > .checkbox
        appearance: none
        -webkit-appearance: none
        -moz-appearance: none
        border: 1px solid $divider
        width: 1.2em
        height: 1.2em
        vertical-align: center
        position: relative
        top: 3px
        transition: 0.2s all linear
        //width: 100%
        margin-top: 2em
        cursor: pointer
        font-size: 0.8em

        +mobile()
          width: 1.4em
          height: 1.4em
          margin-right: 0
          margin-top: 1em

        +desktop-fullhd()
          margin-top: 0

        &:checked
          background-color: $accentColor

      > .label-checkbox
          line-height: 0.8em
          //display: inline-block

        +mobile()
          line-height: 1em

        +desktop-fullhd()
          margin-top: 0

      >.button
        background-color: $accentColor
        color: $buttonText
        text-transform: uppercase
        font-family: inherit
        font-size: 0.8em
        line-height: 2.8em
        font-weight: 700
        border: 1px solid #d39c07
        border-radius: 20px
        width: 11em
        height: 3em
        margin-top: 5em
        margin-right: 6em
        cursor: pointer

        +mobile()
          display: block
          margin: auto
          margin-top: 3em

        +desktop-fullhd()
          display: block
          margin-top: 4em

      >.span
        font-size: 0.75em

        +mobile()
          font-size: 0.65em

        &:last-child
          display: inline

          +mobile()
            display: block
            margin: 0 auto
            margin-top: 2em
            text-align: center

          +desktop-fullhd()
              display: block;
              margin-top: 3em
