//Reset
@require _normalize
@import _reset
@import _media-queries

// Colors
$bgColor = #222
$titleColor = #fff1e7
$textColor = #e3e3e3
$navColor = #e8e8e8
$navbgColor = #5a5a5a
$labelColor = #646464
$errorColor = #3f3f3f
$mainColor = #ff6900
$accentColor = #ffbb00
$divider = #323232
$buttonText = #3a331f
$white = #fff
$red = #ff0000
$green = #00ff00
$modalBackground = rgba(32, 32, 32, 0.6)


// General Styles
body
  background-color: $bgColor
  color: $titleColor
  font-family: "Montserrat", sans-serif
  font-size: 1em
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  transition: 0.5s all linear

a
  color: $labelColor
  transition: color 0.5s

  &:hover
    color: $titleColor
    transition: color 0.5s

.container
  display: flex
  justify-content: center
  align-items: center

  +mobile()
    flex-direction: column-reverse

//LEFT SIDE
.slogan-box
  background-color: $mainColor
  color: $titleColor
  height: 100vh
  width: 50%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  +mobile()
    width: 100%

  > .title
    font-weight: 500
    font-size: 1.648em //Fix for Firefox
    line-height: 1.6em
    text-align: center
    margin-top: 0.25em
    padding: 0 3.5em

    +mobile()
      padding: 0 1em
      margin-top: 2em
      margin-bottom: 0
      font-size: 1.4em

    +tablet()
      padding: 1em
      font-size: 1.4em

  > .img
    background: url("../img/ferris-wheel.png")
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    text-indent: -9999px
    width: 60%
    height: 60%

    +mobile()
      width: 85%
      height: 85%

    +tablet()
      width: 85%
      height: 85%

//RIGHT SIDE
.form-box
  height: 100vh
  width: 50%
  padding: 3em
  display: flex
  flex-direction: column
  padding-top: 4.5em

  +mobile()
    width: 100%
    padding: 0 1em 1em 1em

  +tablet()
    padding 2em
    font-size: 80%

  +desktop()
    padding: 2em
    font-size: 90%

  +desktop-fullhd()
    padding: 6em
    font-size: 120%

  > .navigation
    position: absolute
    top: 1em
    right: 1em

    +mobile()
      position: relative
      margin: 0 auto
      padding-left: 5vh

    > .list
      display: inline
      list-style: none

      > .item
        display: inline-block
        width: 5em
        height: 2em
        text-align: center
        border: 2px solid $divider
        line-height: 1.6em
        background-color: $bgColor

        &:first-child
          border-top-left-radius: 2em
          border-bottom-left-radius: 2em
          position: relative
          left: 0.4em

        &:last-child
          border-top-right-radius: 2em
          border-bottom-right-radius: 2em

        > .nav-link
          display: inline
          text-align: center
          vertical-align: center
          text-decoration: none
          text-transform: uppercase
          font-weight: 700
          font-size: 0.65em
          color: $titleColor
          padding: 0
          margin: 0

      > .active
        background-color: $navbgColor

  > .form
    display: block

    > .fieldset
      padding: 1em

      +mobile()
        padding: 0.8em

      > .title
        font-weight: 500
        font-size: 1.6em
        line-height: 1.6em
        text-align: center
        margin-bottom: 1.5em

        +mobile()
          font-size: 1.4em
          margin-top: 1em
          margin-bottom: 1.25em

      > .label
        text-transform: uppercase
        color: $labelColor
        font-size: 0.7em
        line-height: 0.7em
        font-weight: 700

        +mobile()
          font-size: 0.65em

      > .input
        width: 100%
        background-color: $bgColor
        color: $titleColor
        font-family: inherit
        font-weight: 500
        text-transform: lowercase
        border: none
        border-bottom: 1px solid $divider
        padding: 0.5em
        margin-bottom: 1.5em
        transition: 0.5s all linear

        +mobile()
          margin-bottom: 1.25em

        +desktop-fullhd()
          margin-bottom: 3em

        &::placeholder
          font-size: 0.8em
          color: $titleColor

        &:focus
          border-bottom: 2px solid $mainColor
          outline: 0

      > .checkbox
        appearance: none
        -webkit-appearance: none
        -moz-appearance: none
        border: 1px solid $divider
        width: 1.2em
        height: 1.2em
        vertical-align: center
        position: relative
        top: 3px
        transition: 0.5s all linear
        //width: 100%
        margin-top: 2em
        cursor: pointer
        font-size: 0.8em

        +mobile()
          width: 1.4em
          height: 1.4em
          margin-right: 0
          margin-top: 1em

        +desktop-fullhd()
          margin-top: 0

        &:checked
          background-color: $accentColor

      > .label-checkbox
          line-height: 0.8em
          //display: inline-block

        +mobile()
          line-height: 1em

        +desktop-fullhd()
          margin-top: 0

      >.button
        background-color: $accentColor
        color: $buttonText
        text-transform: uppercase
        font-family: inherit
        font-size: 0.8em
        line-height: 2.8em
        font-weight: 700
        border: 1px solid #d39c07
        border-radius: 20px
        width: 11em
        height: 3em
        margin-top: 5em
        margin-right: 6em
        cursor: pointer
        transition: opacity 0.5s 0s

        &:hover
          opacity: 0.8
          transition: opacity 0.5s 0s

        +mobile()
          display: block
          margin: auto
          margin-top: 3em

        +desktop-hd()
          display: block
          margin-top: 3em

        +desktop-fullhd()
          display: block
          margin-top: 4em

      >.span
        font-size: 0.75em

        +mobile()
          font-size: 0.65em

        &:last-child
          display: inline

          +mobile()
            display: block
            margin: 0 auto
            margin-top: 2em
            text-align: center

          +desktop-hd()
            display: block
            margin-top: 3em

          +desktop-fullhd()
            display: block
            margin-top: 3em
//MODAL
.modal
  position fixed
  left 0
  top 0
  width: 100%
  height: 100%
  background-color: $modalBackground
  z-index: 20
  overflow-x: hidden
  display: none
  animation: fade 1s

  > .content
    text-align: center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: $white
    width: 30vw
    padding: 0.9em 0em 0.9em 0em
    border-radius: 0.5em
    font-size: 0.9em
    font-weight: 400
    color: $labelColor
    animation: fade 1s

    +mobile()
      width: 60vw
      font-size: 0.7em

    +tablet()
      width: 50vw
      font-size: 0.7em

    > .title
      font-weight: 400
      color: $divider
      font-size: 1.6em
      margin-top: 1em

    > .message
      margin: 2em

      > .data-content
        font-size: 100%
        font-weight: normal

    > .message-name,
      .message-password,
      .message-email
        font-size: 80%
        font-weight: 700
        color: $divider
        margin: 2em

    > .button
      background-color: $accentColor
      color: $buttonText
      text-transform: uppercase
      font-family: inherit
      font-size: 80%
      font-weight: 700
      border: 1px solid #d39c07
      border-radius: 20px
      width: 11em
      height: 3em
      margin-top: 1em
      margin-bottom: 2em
      cursor: pointer

    > .alternate
      @extends .modal > .content > .button
      background-color: white
      color: $buttonText

      > a :hover
        color: $textColor

  > .content-confirmation
    @extends .modal > .content
    font-size: 0.8em
    display: none

// MISC
.error
  border-bottom: 2px solid $red !important

.success
  border-bottom: 2px solid $green !important

.show-error
  color: $errorColor
  font-size: 75%
  vertical-align: middle
  transition: 0.5s all linear

.hide
  display: none

.red-border
  border: 1px solid $red !important

//Animations
@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}
